@import url('https://fonts.cdnfonts.com/css/satoshi');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  font-family: 'Satoshi', sans-serif;
  height: 5000px;
}

.border {
  border: 1px solid #000;
}

.dress-style-img {
  height: 200px;
  border-radius: 25px;
}

.dress-style-grid {
  display: flex;
  justify-content: end;
  background-color: #FFFFFF;
  border-radius: 25px;
  position: relative;

}